body{margin: 0;}
.container{width:300px ;background-color:aqua;}
#box2{color: lightblue;text-align: center;}
#danhsachnhac{font-size: ;}
#tailieuonthidh{color: blue;}
.thongtinlienhe{background-color: gray; width: 500px;height: 70px;
}
#trangchu{border-right:3px solid #333;padding-right: 16px;}
.thongtin{font-size: 20px;}